@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.law-card {
  @apply p-8 border border-black/10 rounded-lg shadow-sm hover:shadow-md transition-shadow duration-300 cursor-pointer bg-white;
}

.law-card:hover {
  @apply transform -translate-y-1 transition-transform duration-300;
}

h1, h2, h3 {
  font-family: 'Georgia','Times New Roman', Times, serif;
}

.main-title {
  letter-spacing: 0.05em;
}
